@charset "UTF-8";
/* line 3, /home/michi/Dropbox/Program/rubymarker/hp/source/stylesheets/all_bck.css */
body {
  background: #d4d4d4 url("../images/background.png");
  /* text-align: center; */
  font-family: sans-serif; }

/* line 8, /home/michi/Dropbox/Program/rubymarker/hp/source/stylesheets/all_bck.css */
h1 {
  color: rgba(0, 0, 0, 0.3);
  font-weight: bold;
  font-size: 32px;
  letter-spacing: -1px;
  text-transform: uppercase;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  /* background: url("../images/middleman.png") no-repeat center 100px;
  padding: 350px 0 10px; */
  margin: 0; }

/* line 19, /home/michi/Dropbox/Program/rubymarker/hp/source/stylesheets/all_bck.css */
.doc {
  font-size: 14px;
  margin: 0; }

/* line 22, /home/michi/Dropbox/Program/rubymarker/hp/source/stylesheets/all_bck.css */
.doc:before,
.doc:after {
  opacity: .2;
  padding: 6px;
  font-style: normal;
  position: relative;
  content: "•"; }

/* line 29, /home/michi/Dropbox/Program/rubymarker/hp/source/stylesheets/all_bck.css */
.doc a {
  color: rgba(0, 0, 0, 0.3); }

/* line 31, /home/michi/Dropbox/Program/rubymarker/hp/source/stylesheets/all_bck.css */
.doc a:hover {
  color: #666; }

/* line 34, /home/michi/Dropbox/Program/rubymarker/hp/source/stylesheets/all_bck.css */
.welcome {
  -webkit-animation-name: welcome;
  -webkit-animation-duration: .9s; }

@-webkit-keyframes welcome {
  from {
    -webkit-transform: scale(0);
    opacity: 0; }
  50% {
    -webkit-transform: scale(0);
    opacity: 0; }
  82.5% {
    -webkit-transform: scale(1.03);
    -webkit-animation-timing-function: ease-out;
    opacity: 1; }
  to {
    -webkit-transform: scale(1); } }
/* line 6, /home/michi/Dropbox/Program/rubymarker/hp/source/stylesheets/all.css.scss */
html {
  height: 100%; }

/* line 9, /home/michi/Dropbox/Program/rubymarker/hp/source/stylesheets/all.css.scss */
body {
  margin: 0.25%;
  height: 95%; }
  /* line 10, /home/michi/Dropbox/Program/rubymarker/hp/source/stylesheets/all.css.scss */
  body #menu {
    float: left;
    width: 150px;
    min-height: 100%;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    -moz-box-shadow: rgba(255, 255, 255, 0.3) -1px 0 0 inset;
    -webkit-box-shadow: rgba(255, 255, 255, 0.3) -1px 0 0 inset;
    box-shadow: rgba(255, 255, 255, 0.3) -1px 0 0 inset; }
  /* line 16, /home/michi/Dropbox/Program/rubymarker/hp/source/stylesheets/all.css.scss */
  body #main {
    margin-left: 165px;
    max-width: 95%; }

/* line 23, /home/michi/Dropbox/Program/rubymarker/hp/source/stylesheets/all.css.scss */
div.tag {
  border: 1px solid rgba(0, 0, 0, 0.1);
  -moz-box-shadow: rgba(0, 0, 0, 0.1) -1px 1px 2px inset, white -1px 1px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) -1px 1px 2px inset, white -1px 1px 0;
  box-shadow: rgba(0, 0, 0, 0.1) -1px 1px 2px inset, white -1px 1px 0;
  background-color: #BBB;
  margin: 3px;
  padding: 3px;
  max-width: 100%;
  display: inline-block; }
  /* line 24, /home/michi/Dropbox/Program/rubymarker/hp/source/stylesheets/all.css.scss */
  div.tag a {
    color: #222; }

/* line 35, /home/michi/Dropbox/Program/rubymarker/hp/source/stylesheets/all.css.scss */
div.highlight {
  border: 1px solid rgba(0, 0, 0, 0.1);
  -moz-box-shadow: rgba(0, 0, 0, 0.1) -1px 1px 2px inset, white -1px 1px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) -1px 1px 2px inset, white -1px 1px 0;
  box-shadow: rgba(0, 0, 0, 0.1) -1px 1px 2px inset, white -1px 1px 0;
  margin: 10px; }
